*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000;
    margin: 0px;
    padding: 0px;
    float: center;
}
.navbar-default{
    float: center;
}
.btn-block{
    margin-top: -30px;
    cursor: pointer;
}
@media only screen and (max-width: 640px){
    .navbar-default, .jumbotron, .btn-block{
        width: 675px;
    }
}
@media only screen and (max-width: 360px){
    .navbar-default, .jumbotron, .btn-block{
        width: 675px;
    }
}