*{
    margin: 0px;
    padding: 0px;
}
body{
    
    margin: 0px;
    padding: 0px;
    float: center;
}
.navbar-default{
    float: center;
}
.start-alert{
    margin: 0% 45% 0% 45%;
}
.right-btn{
    margin: -37px 0px 0px 0px;
}
.btn-block{
    margin-top: -30px;
    cursor: pointer;
}
#btn-danger{
    margin-top: -250px;
    position: absolute;
    background-color: rgba(255, 51, 51,0.7);
}
#btn-success{
    margin-top: -50px;
}
@media only screen and (max-width: 640px){
    .navbar-default, .jumbotron, .btn-block{
        width: 675px;
    }
}
@media only screen and (max-width: 360px){
    .navbar-default, .jumbotron, .btn-block{
        width: 675px;
    }
}